<html>
<head>
<title>Type Tune</title>
<link rel="shortcut icon" href="images/note.png" type="image/x-icon">
<link href="css/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" media="only screen and (max-device-width: 480px)" href="css/mobile-style.css" />
</head>
<body>
<div class='main'>
<div id='container'>
<form action="/notes" method="get">
	<textarea id="words" name="words" type="input" maxLength="1000"  placeholder="Start typing some words...."></textarea>
	<input id="submit" type="submit" value="Create Tune">
</form>
</div>
</div>
</body>



</html>
